@model TestePratico_crud.Models.Loja

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Loja</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

    </dl>
</div>

@foreach (var item in Model.Cliente)
{
    <div>
        <dt>
            @Html.DisplayNameFor(modelItem => item.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(modelItem => item.Nome)
        </dd>







    </div>
}

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Identificador }) |
    @Html.ActionLink("Back to List", "Index")
</p>
